.notice {
  position: absolute;
  padding: 5px 10px;
  top: 53px;
  left: 300px;
  z-index: 1000;
  background-color: rgba(163, 197, 256, 0.8);
  border-radius: 3px;
  color: blue;
}

.alert {
  position: absolute;
  padding: 5px 10px;
  top: 53px;
  left: 300px;
  z-index: 1000;
  background-color: rgba(256, 0, 0, 0.2);
  border-radius: 3px;
  color: red;
}
