.container
  = render partial: "layouts/sidebar"
  = render partial: "letters/topics"
  .container__letter-container
    .container__letter-container__letter-block
      = render @letters
      = render partial: "letters/category"
