.container
  .container__pick-form
    .container__pick-form__message
      %p URLを入力して
      %p おすすめの記事を投稿しましょう
    .container__pick-form__url-group
      %input.container__pick-form__url-group__url-value{placeholder: "URLを入力", type: "text"}
