.header {
  width: 100%;
  min-width: 800px;
  height: 50px;
  position: fixed;
  box-shadow: 0 0 2px #666;
  background-color: #15274D;
  color: #FFFFFF;
  &__title {
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    width: 300px;
  }
  &__nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    &__user {
      position: relative;
      right: 70px;
      top: 5px;
      height: 40px;
      width: 40px;
    }
    &__new-letter {
      position: relative;
      bottom: 25px;
      right: 10px;
    }
  }
}
