.header {
  width: 100%;
  min-width: 800px;
  height: 50px;
  position: fixed;
  box-shadow: 0 0 2px #666;
  background-color: #15274D;
  color: #FFFFFF;
  &__title {
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    width: 300px;
    &__font {
      color: #FFFFFF;
    }
  }
  &__nav {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 12px;
    &__user {
      position: relative;
      right: 70px;
      top: 5px;
      height: 40px;
      width: 40px;
    }
    &__new-letter {
      position: relative;
      bottom: 25px;
      right: 10px;
      &__font {
        color: #FFFFFF;
      }
    }
    &__regist {
      position: relative;
      top: 16px;
      right: 90px;
      &__font {
        color: #FFFFFF;
      }
    }
    &__login {
      position: relative;
      top: 4px;
      right: 10px;
      &__font {
        color: #FFFFFF;
      }
    }
  }
}

.user-menu {
  position: fixed;
  top: 52px;
  right: 65px;
  z-index: 100;
  width: 120px;
  background-color: #FFF;
  border-radius: 3px;
  &__user-name {
    padding: 15px;
    &__font {
      color: black;
      font-size: 14px;
    }
  }
  &__user-edit {
    padding: 15px;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    &__font {
      color: black;
      font-size: 14px;
    }
  }
  &__logout {
    padding: 15px;
    &__font {
      color: black;
      font-size: 14px;
    }
  }
}

#user-menu-container {
  display: none;
}
