.container {
  &__regist-form {
    margin: 50px auto 0;
    width: 400px;
    background-color: #FFF;
    border-radius: 3px;
    &__title {
      padding: 30px 0 10px;
      text-align: center;
    }
    &__login-message {
      margin: 20px 0 30px;
      text-align: center;
      font-size: 14px;
      &__link {
        text-decoration: underline;
        color: #37509C;
      }
    }
    &__login {
      @include clearfix();
      width: 320px;
      margin: 0 auto;
      &__fb {
        @include clearfix();
        float: left;
        display: block;
        padding: 15px 36px 16px 12px;
        background-color: #3C5B97;
        border-radius: 2px;
        &__logo {
          float: left;
          width: 16px;
          height: 16px;
        }
        &__facebook {
          float: left;
          display: inline;
          padding-top: 3px;
          margin-left: 13px;
          font-size: 14px;
          color: #FFF;
        }
      }
      &__tw {
        @include clearfix();
        float: right;
        display: block;
        padding: 8px 36px 8px 12px;
        background-color: rgba(0, 172, 237, 1);
        border-radius: 2px;
        &__logo {
          float: left;
          width: 32px;
          height: 32px;
        }
        &__twitter {
          float: left;
          display: inline;
          padding-top: 9px;
          margin-left: 13px;
          font-size: 14px;
          color: #FFF;
        }
      }
    }
    &__sign-up {
      width: 320px;
      margin: 0 auto;
      &__fb {
        @include clearfix();
        display: block;
        padding: 15px 36px 16px 26px;
        background-color: #3C5B97;
        border-radius: 2px;
        &__logo {
          float: left;
          width: 16px;
          height: 16px;
        }
        &__facebook {
          float: left;
          display: inline;
          padding-top: 3px;
          margin-left: 22px;
          font-size: 14px;
          color: #FFF;
        }
      }
      &__tw {
        @include clearfix();
        margin-top: 10px;
        display: block;
        padding: 8px 36px 8px 20px;
        background-color: rgba(0, 172, 237, 1);
        border-radius: 2px;
        &__logo {
          float: left;
          width: 32px;
          height: 32px;
        }
        &__twitter {
          float: left;
          display: inline;
          padding-top: 9px;
          margin-left: 13px;
          font-size: 14px;
          color: #FFF;
        }
      }
    }
    &__form-group {
      margin: 20px 0;
      text-align: center;
      &__field {
        width: 300px;
        line-height: 40px;
        padding: 0 10px;
        border: 1px solid #D9D9D9;
        border-radius: 2px;
        font-size: 12px;
      }
    }
    &__actions {
      padding-bottom: 50px;
      text-align: center;
      &__submit-btn {
        width: 320px;
        line-height: 40px;
        border: 1px solid #15274d;
        border-radius: 2px;
        background-color: #15274d;
        color: #FFF;
        font-size: 14px;
      }
    }
  }
}
