.container__user-area
  .container__user-area__user
    .container__user-area__user__thumbnail
      = image_tag current_user.avatar, class: "container__user-area__user__thumbnail__avatar"
    .container__user-area__user__name
      %h2
        = current_user.full_name
  .container__user-area__follow-info
    .container__user-area__follow-info__following
      .container__user-area__follow-info__following__count
        %p 21
      .container__user-area__follow-info__following__caption
        %p フォロー
    .container__user-area__follow-info__follower
      .container__user-area__follow-info__follower__count
        %p 32
      .container__user-area__follow-info__follower__caption
        %p フォロワー
